
/* COLORS TO USE */
/* 
#04100E
#2BB69A
#6BDBC5
#EFFBF9 
rgba(239, 251, 249, 0.8)

#090311
#8F52B7
#B084CC
#E3D4ED
*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    color: #04100E;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    /* color: ; */
    margin: 0;
  }

 

body:before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #6BDBC5 ;
    background-image: linear-gradient(
      115deg,
    rgba(43, 182, 154, 0.637),
    rgba(189, 239, 229, 0.726)
    ),
    url(https://i.redd.it/aihj4mgqfzq11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-center {
    text-align: center;
  }

h1 {
      font-weight: 400;
      line-height: 1.2;
}

.header-container{
    background-color: rgba(239, 251, 249, 0.8);
    /* top right bottom left */
    padding: .2rem 0 1rem 0;
    margin: 4rem auto 2rem auto;
    width: 70%;
    border-radius: 9px;    
}

#survey-form {
    padding: 2rem;
    background-color: rgba(239, 251, 249, 0.8) ;
    border-radius: 9px;
    /* top right bottom left */
    margin: 0 auto;
    box-shadow: 0 0 1.6rem 4px #09031142
    ;
    text-align: left;
}

.form-frame {
    border-radius: 9px;

    background-color: #6BDBC5;
    margin: 0 auto;
    width: 70%;
    /* this will give space on all sides */
    padding: 1rem;

}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: .25rem;
  }
  
.form-group {
    margin-bottom: 1.6rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
    border: none;
  }

.input-checkbox {
    height: 2rem;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

/* responsive design queries */
